body{
    background-color: #FF383E;
}

header{
    background-image: url("../imagens/imagem_topo.png");
    background-position:center;
    height: 550px;
    background-size: cover;
}

.header-paginas{
    height: 331px;
    background-size: cover;
}

h1{
    text-align: left;
    font-size: 75px;
    font-family: 'anton', sans-serif;
    margin: 0;
}

.fonte-vermelho{
    margin-top: 99px;
    color: #FF383E;
    font-family: 'Anton';
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; /* 100% */
}

.fonte-branco{
    color: #ffffff;
    font-family: 'Anton';
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px
}

.fonte-margin-paginas{
    margin-top: 31px
}


.header-paginas{
    height: 331px;
    background-size: cover;
}

.topo {
    text-align: center;
}

.img-logo {
    margin-top: 60px;
    width: 380px;
}

.texto-top {
    width: 404px;
    margin: auto;
    text-align: center;

}

button {
    width: 249px;
    height: 83px;
    background-color: #000;
    border: none;
    cursor: pointer;
    margin-bottom: 45px;
}

.button-fonte-grande{
    color: #FFF;
    text-align: center;
    font-family: Anton;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 128.571% */
}

.button-fonte-pequena{
    color: #FFF;
    text-align: center;
    font-family: Anton;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 23px;
    background-color: #000;
    width: 249px;
    height: 83px;
    margin-bottom: 23px;    
}

h2{
    color: #FFF;
    text-align: center;
    font-family: Anton;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.alinhamento-centro{
    width: 404px;
    margin: auto;
    text-align: center;
}
footer{
    background-image: url("../imagens/imagem_r.png");
    padding-top: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
}

p{
    color: #FFF;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    text-align: left;
}

input{
    margin-top: 23px;
    width: 332;
    height: 60px;
    background: #000;
    border: #000;
    border-radius: none;
    color: #ffffff;
    text-align: left;
    padding-left: 35px;
    font-family: Anton;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
}

input::placeholder{
    color: #FFF;
    text-align: left;
}

.modal{ 
    visibility: hidden;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: top;
    justify-content: top;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    margin-top: 0px;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modal-body {
    background-color: #000;
    width: 377px;
    height: 211px;
    margin: 30px 15px;
}

.modal-body a{
    text-decoration: none;
}
.modal-body h4{
    color: #FFF;
    font-family: Anton;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    margin: 0;
}

.modal-body h3{
    color: #FF383E;
    font-family: Anton;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    margin: 0;
    margin-top: 0px;
}

.modal-body .close{
    position: absolute;
    margin-left: 340px;
    color: #FFF;
    font-family: Anton;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 150% */
    width: 30px;
    height: 30px;
}